:root{
    --color_0: 255,255,255;
    --color_27: 152,200,240;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 153,153,153;
    --color_13: 102,102,102;
    --color_14: 51,51,51;
    --color_15: 0,0,0;
    --color_16: 250,189,185;
    --color_17: 244,155,149;
    --color_18: 236,15,0;
    --color_19: 159,43,35;
    --color_20: 80,22,18;
    --color_21: 164,191,223;
    --color_22: 115,149,190;
    --color_23: 33,90,158;
    --color_28: 61,155,233;
    --color_29: 41,103,155;
    --color_30: 20,52,78;
    --color_31: 226,170,170;
    --color_32: 197,131,131;
    --color_24: 22,60,105;
    --color_33: 168,84,84;
    --color_34: 139,0,0;
    --color_35: 70,0,0;
    --bg: 239,65,53;
    --font_0: normal normal normal 88px/1.4em belinda-w00-regular,script;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 45px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    --font_3: normal normal normal 43px/1.4em belinda-w00-regular,script;
    --font_4: normal normal normal 35px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    --font_5: normal normal normal 21px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    --font_6: normal normal normal 18px/1.4em belinda-w00-regular,script;
    --color_25: 11,30,53;
    --font_7: normal normal normal 17px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    --font_8: normal normal normal 15px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_9: normal normal normal 13px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}