body{
    margin:0;
}

.parallaxParent {
    position: relative;
    overflow:hidden;
}

.growbox {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items:center;
}

.topbar {
    background-color: rgb(var(--color_11));
    display: flex;
    height: 77px;
    position: sticky;
    justify-content: space-between;
    top: 0px;
    z-index: 1000;
    padding-left: 10%;
}

#initial > div {
    display: flex;
    flex-grow: 1;
    background-color: rgba(var(--color_11), .8);
    height: 224px;
    justify-content: center;
    margin-left: 13%;
    margin-right: 13%;
}

.svgimg {    
    background-color: rgb(var(--color_18));

    mask-clip: contain;
    mask-size: 100%;
    -webkit-mask-size: 100%;
}

#splash {
    display: flex;
    width: fit-content;
    height: fit-content;
    position:relative;
    top:50%;
    text-align: center;
    margin: 5px;
}

#splash .svgimg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 111px;
    height: 111px;
    
    -webkit-mask: url(../images/svgs/splash.svg) no-repeat center;
    mask: url(../images/svgs/splash.svg) no-repeat center;
}

#splash h4 {
    font: var(--font_5);
    color: rgb(var(--color_11));
    margin: 0;
    line-height: 1em;
    text-align: center;
}

#social {
    position: relative;
    top: 70%;
    width: 37px;
    height: 185px;
    background-color: rgb(var(--bg));
}

#initial {
    display: flex;
    flex-grow: 1;
    /*background-image: url("https://static.wixstatic.com/media/84770f_ebf77f61cebb4a3ba2df322d174dc769.jpg/v1/fill/w_980,h_686,al_c,q_85,usm_0.66_1.00_0.01/84770f_ebf77f61cebb4a3ba2df322d174dc769.webp");
    background-size:cover;
    perspective: 20px;
    transform: translateZ(-20px) scale(1.1);
    
    background-attachment: fixed;*/
    justify-content: center;
    align-items: center;
    height: 686px;
}

#logobanner {
    padding-bottom: 10px;
}

#logobanner > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items:flex-end;
}

.logolateral {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 60px;
    padding: 10px;
    margin: 0px 20px 20px 20px;
    color: rgb(var(--color_18));
    border-top: 1px solid rgb(var(--color_18));
    border-bottom: 1px solid rgb(var(--color_18));
}

.logolateral > h4 {
    margin: 0px;
    line-height: 1.2em;
    font-size: 17px;
    
    font: var(--font_7);
}

.ll1 {
    text-align: right;
}

.ll2 {
    text-align: left;
}

#logo {
    width: fit-content;
    height: fit-content;
    
    text-align: center;
    margin: 5px;
}

#logo > h1 {
    font: var(--font_0);
    color: rgb(var(--color_18));
    line-height: 0.6em;
    margin: 0;
    margin: 25px;
}

#logo > h4 {
    color: rgb(var(--color_18));
    font: var(--font_5);
    margin: 0;
}

#logo > span > h4 {
    margin: 0;
}

#logo .svgimg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    color: rgb(var(--color_11));
    font: var(--font_5);
    letter-spacing: 0.7em;
    text-align: center;

    padding: 0px 20px;

    -webkit-mask: url(../images/svgs/banner.svg) no-repeat center;
    mask: url(../images/svgs/banner.svg) no-repeat center;

    width: 264px;
    height: fit-content;
}

.spikesbox {
    position: relative;
    top: -20px;
    z-index: 2;
}

.spikes {
    display: block;
    --zigzagsize: 10px;
    --brd: var(--color_23);
    --alpha-brd: 1;
    width:100%;
    height: 10px;
    flex-basis: var(--zigzagsize,10px);
    background-image: 
        linear-gradient(135deg,hsl(0deg 0% 0% / 0%) var(--zigzagsize,100%),rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)) var(--zigzagsize,100%)),
        linear-gradient(-135deg,hsl(0deg 0% 0% / 0%) var(--zigzagsize,100%),rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)) var(--zigzagsize,100%));
    background-size: var(--zigzagsize,100%) var(--zigzagsize,100%);
    background-repeat: repeat-x;
    background-position: 50% 50%;
}

.afterspikes {
    display: flex;
    justify-content: center;
    align-items: center;
    --brd: var(--color_23);
    --alpha-brd: 1;
    width: 100%;
    flex-basis: 50%;
    height: 134px;
    background-color: rgba(var(--brd,var(--color_15)),var(--alpha-brd,1));
}

.afterspikes > h2 {
    margin: 0;
    font: var(--font_2);
    text-align: center;
    font-size: 45px;
    color: rgb(var(--color_11));
    line-height: 0.9em;
}

.banners {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

.bannerbox {
    display: flex;
    flex-direction:column;
    
    width: fit-content;
    height:fit-content;
    align-items: center;
    justify-content: center;
}

.bannerbox > h3 {
    overflow-wrap: break-word;
    line-height: 1.5em;
    color: rgb(var(--color_23));
    text-align: center;
    font-size: 15px;
    font: var(--font_8);
    width: 264px;
    height:fit-content;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    width: 321px;
    height: 321px;
    background-size: cover;
}

.banner > h4 {
    margin: 0;
}

#banner1 {
    background-image: url("https://static.wixstatic.com/media/84770f_a5718356cc224d12991a738dfa3b06d7.png/v1/fill/w_321,h_321,al_c,q_85,usm_0.66_1.00_0.01/84770f_a5718356cc224d12991a738dfa3b06d7.webp");
}

#banner1 > h4 {
    font-family: helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
    letter-spacing: 0.3em;
    color: rgb(var(--color_18));
    font-size: 30px;
    text-shadow: #ffffff 3px 3px 0px, rgb(0 0 0 / 20%) 6px 6px 0px;
}

#banner1 > h4:nth-child(1) {
    font-family: bodoni-w01-poster,bodoni-poster-w10,fantasy;
    text-shadow:none;
    color: rgb(var(--color_11));
    letter-spacing: -0.05em;
}

#banner2 {
    background-image: url("https://static.wixstatic.com/media/84770f_0d32a522caea440ea73af1b6f62be51c.png/v1/fill/w_333,h_333,al_c,lg_1,q_85/84770f_0d32a522caea440ea73af1b6f62be51c.webp");
}

#banner2 > h4 {
    font: var(--font_4);
    letter-spacing: normal;
    line-height: normal;
    color: rgb(var(--color_11));
    font-size: 59px;
}

#banner2 > h4:nth-child(1) {
    font-family: belinda-w00-regular,script;
    color: rgb(var(--color_23));
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 29px;
}

#banner3 {
    background-image: url("https://static.wixstatic.com/media/84770f_792bd6836b114c1eb4d101f1e40e6a2c.png/v1/fill/w_315,h_315,al_c,q_85/84770f_792bd6836b114c1eb4d101f1e40e6a2c.webp");
}

#banner3 > h4 {
    font: var(--font_4);
    letter-spacing: normal;
    line-height: normal;
    color: rgb(var(--color_11));
    text-shadow: 3px 3px 0px rgb(10 189 240 / 30%), -3px -3px 0px rgb(254 1 1 / 30%);
    font-size: 44px;
}

#banner3 > h4:nth-child(1) {
    font-family: belinda-w00-regular,script;
    color: rgb(var(--color_11));
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-size: 29px;
    text-shadow:none;
}

#news {
    display: flex;
    flex-grow: 1;
    height: 686px;
    
    
}

#news > div {
    padding-bottom: 10px;
}

.bg1 {
    background-image: url("https://static.wixstatic.com/media/84770f_ebf77f61cebb4a3ba2df322d174dc769.jpg/v1/fill/w_980,h_686,al_c,q_85,usm_0.66_1.00_0.01/84770f_ebf77f61cebb4a3ba2df322d174dc769.webp");
}

.bg2 {
    background-image: url("https://static.wixstatic.com/media/84770f_ebf77f61cebb4a3ba2df322d174dc769.jpg/v1/fill/w_980,h_686,al_c,q_85,usm_0.66_1.00_0.01/84770f_ebf77f61cebb4a3ba2df322d174dc769.webp");
}

.parallax {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    transform: translateZ(-20px) scale(1.5);
}