body {
    margin: 0px;
}

body > header {
    display: flex;
    flex-direction: column;
    user-select: none;
    text-align:stretch;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    justify-content:center;
    align-items: center;
}

h1 {
    margin: 0px;
}

h4 {
    margin: 0px 0px 0px 0px;
}

header h2 {
    margin: 0px 0px 0px 0px;
}


body > header > div {
    display: flex;
    user-select: none;
    text-align:center;
    align-items: center;
    max-height: fit-content;
    border-radius: 15px;
    padding: 15px 15px 0px 15px;
}

body > header > div > div {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 5px;
    
    border: 3px solid white;
}

body > header > div > img {
    display: flex;
    max-height: min-content;
    object-fit: contain;
    max-height: 200px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: stretch;
}

#menu button {
    display: flex;
    font-size: 24px;
    border: 3px solid black;
    margin: 1px;
    padding: 10px;
    flex-grow: 1;
}

main {
    display: flex;
    padding: 0% 5% 0% 5%;
    justify-content: center;
    align-items: center;    
}

#subpage {
    
    max-width: fit-content;
}

#subpage > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: right;
}

#subpage > div > div {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    justify-content: right;
}

#subpage > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#subpage > div > div > div > div {
    display: block;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    flex-wrap: wrap;
}

ul {
    text-align: left;
    max-width:max-content;
    align-self: center;
    margin: 5px;
}

table {
    
    margin: 0px;
    justify-self:stretch;
    min-width:max-content;
}

div > span {
    display: block;
    flex-direction: column;

    flex-wrap: wrap;
}

td {
    text-align:center;
    width: max-content;
}

td > img {
    width: 30px;
}

footer {
    padding: 5px;
    text-align: center;
}